<div class="book">
  <h2><%= @books.book_name %></h2>
  <ul>
    <li>Author: <%= @books.author.author_name %></li>
    <li>Genre: <%= @books.genre.genre %></li>
    <li>Price: $<%= @books.price %></li>
  </ul>
</div>