<div class="container">
    <div class="row">
      <% @books.each do |book| %>
      <%= paginate @books %>
      <div class="col">
        <h3><%= book.book_name %></h3>
      </div>
        <% end %>
    </div>
  </div>