<div>
  <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">About Us</h2>
    <!--Section description-->
    <p class="text-left w-responsive mx-auto mb-5"><%= @about.about_us_text %></p>
</div>